body{
    font-family: 'Roboto',sans-serif;
}
.container{
    margin-bottom: 80px;
    overflow: hidden;
}
.bg-light{
    background-color: #fff !important;
}
a.navbar-brand img {
    width: 100px;
}
.banner-bg{
    background-color:#f7f7f7;
    border-radius: 10px;
}
.banner-area h2 {
    font-weight: 900;
}

.banner-area p {
    color: #818181;
    font-size: 12px;
}
.buy-now-button {
    padding: 10px 20px;
    background-color: #000;
    border: none;
    color: #fff;
    border-radius: 10px;
}
.product-area h2 {
    font-weight: 700;
    margin-bottom: 20px;
}

.product-area h5 {
    font-size: 14px;
    color: #FFCF19;
}
.card {
    text-align: center;
    border: none;
    box-shadow: 5px 5px 40px #F6F6F6;
    padding: 10px;
}

.card h5 {
    color: #000;
    font-size: 20px;
}
.card p {
    font-size: 12px;
    color: gray;
}
p.card-text{
    font-size: 12px;
    color: #000;
    font-weight: 700;
}

.categories-title h2 {
    text-align: center;
    margin-bottom: 100px;
    font-weight: 700;
    position: relative;
  }
  .categories-title h2:after {
    position: absolute;
    width: 100px;
    height: 5px;
    bottom: -27px;
    left: 17%;
    content: "";
    border-radius: 5px;
    background-image: linear-gradient(#FFC520, #FF9C35);
  }
  .cat-body {
    margin-bottom: 25px;
}
.category-body {
    margin-bottom: 20px;
}
footer p{
    text-align: center;
}